@import url(global.css);

.navbar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  width: 80vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 7rem;
  z-index: 100;
  top: 20px;
  left: 10%;
  border-radius: 100px;
}

.navbar button {
  display: none;
}

.navbar ul {
  display: inherit;
  align-items: center;
}

.navbar li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--ThirdC);
  font: var(--font-nav);
  padding: 12px 15px;
  margin-inline: 10px;
  transition: all 0.2s ease;
}

.navbar li:hover {
  border-bottom: 3px solid var(--mainC);
  a {
    color: var(--mainC);
  }
}

.navbar li:nth-child(3) {
  background: linear-gradient(90deg, #974df9 0%, #5c30df 100%);
  padding: 0.9rem 2rem;
  border-radius: 28px;
  a {
    color: var(--BackC);
  }
}

.navbar li:nth-child(3):hover {
  background: #5c30df;
  border-bottom: none;
  transform: translateY(-3px);
  a {
    font-weight: bold;
  }
}

.navbar img {
  width: 5.5rem;
}

.social-icons {
  display: inherit;
  position: relative;
  gap: 1rem;
  left: 3rem;
}

.social-icons img {
  width: 1.5rem;
  cursor: pointer;
}
.button {
  transition: all 0.3s ease;
}

.button a {
  transition: color 0.3s ease;
}

.button-active {
  transition: all 0.3s ease;
}

@media (min-width: 320px) and (max-width: 600px) {
  .navbar {
    width: 90vw;
    padding: 0.3rem 1.25rem;
    left: 5%;
  }
  .navbar img {
    width: 4rem;
  }

  #menu-toggle {
    display: block;
    position: absolute;
    background: none;
    border: none;
    font-size: 2.5rem;
    right: 1rem;
    top: 0.5rem;
    transform: translateY(-25%);
  }

  #menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    background: white;
    backdrop-filter: blur(25px);
    border-radius: 10px;
    padding: 0.5rem 2.5rem;
    animation: transitionMenu 0.5s forwards;
  }

  #menu.active {
    display: flex;
  }

  #social-icons {
    display: none;
    position: absolute;
    padding: 0.5rem 2.5rem;
    animation: transitionMenu 0.5s forwards;

    img {
      width: 2rem;
      transform: translateX(1.3rem);
    }
  }

  #social-icons.active {
    display: flex;
  }
}
@keyframes transitionMenu {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(4%);
  }
}
